{% extends 'base.html' %}

{% block content%}
<div class='content-section'>
    <h1>{{post.title}}</h1>
    <p>{{post.content}}</p>
    <hr/>
    <div class="text-end">
        <small>{{post.pub_date}}</small>
        {% if post.owner == user%}
            <div class='btn-group'>
                <a href={% url "update" post.id%} class="btn btn-sm btn-outline-secondary">Update</a>
                <a href={% url "delete" post.id%} class="btn btn-sm btn-outline-danger">Delete</a>
            </div>
        {% endif %}
        <small >Created by: {{post.owner}}</small>
    </div>
</div>
{% endblock %}